.letter-date{
	line-height: 1;
margin: 0 1em 0 0;
padding: 0;
position: relative;
top: -2em;
}

.container{
	padding-top: 50px;
}

.masthead{
	background: black url(bg.jpg);
	width: 100%;
	height: 30px;
	position: absolute;
	top: 0px;
	left: 0px;
}

/*
There is also a fixed positioning type. When a visitor scrolls in the browser window, 
the contents of the page usually move up or down. 
When you set an element to position: fixed; , 
it is affixed to the browser window so that it doesn’t move when the visitor scrolls up or down. 
The rest of the page does scroll as usual. 
*/

.masthead-vertical{
	background: black url(bg.jpg);
	width: 30px;
	height: 100%;
	position: fixed;
	top: 0px;
	right: 0px;
}