fieldset{
	background-color: #f1f1f1;
	border-radius: 2px;
	border: none;
	margin-bottom: 12px;
	overflow: hidden;
	padding: 0 10px;
}

legend{
	background-color: #dedede;
	border-bottom: 1px solid #d4d4d4;
	border-top: 1px solid #d4d4d4;
	border-radius: 5px;
	box-shadow: 3px 3px 3px #ccc;
	color: #fff;
	font-size: 1.1em;
	margin: 12px;
	padding: 0.3em 1em;
	text-shadow: #9FBEB9 1px 1px 1px;
	text-transform: uppercase;
}

legend.account{
	background-color: #0B5586;
}

ul{
	background-color: white;
	list-style-type: none;
}

ul li{
	margin: 0.5em 0;
}

label{
	display: inline-block;
	width: 150px;
	padding: 3px 6px;
	text-align: right;
	vertical-align: top;
}

input{
	font-size: 100%;
}

.large{
	width: 250px;
}

.medium{
	width: 200px;
}